company workflow (4).json
{
  "name": "company workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3feccf6d-220b-4dcf-963e-970bb14f4940",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "a85ccafc-f78f-487b-a66f-624b405812e8",
      "name": "Webhook",
      "webhookId": "3feccf6d-220b-4dcf-963e-970bb14f4940"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      start_time: Date.now()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "6cbba364-77c2-46e6-ac18-218c6238ed95",
      "name": "Start Time"
    },
    {
      "parameters": {
        "url": "https://company-enrichment-zainabb.free.beeceptor.com/company",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "c1860f84-8f24-44ec-8b93-a6d476a23159",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7ca5135-7290-4a53-93b4-d84a91decc65",
              "name": "Original Company",
              "value": "={{$node[\"Webhook\"].json.body.company_name}}",
              "type": "string"
            },
            {
              "id": "226992e6-bf06-47cf-a335-592d8dde3739",
              "name": "Industry",
              "value": "={{$node[\"HTTP Request\"].json.industry}}",
              "type": "string"
            },
            {
              "id": "5b67c149-3660-4922-b278-09c2f68a2ea9",
              "name": "employee Count",
              "value": "={{$node[\"HTTP Request\"].json.employee_count}}",
              "type": "string"
            },
            {
              "id": "78a1279c-385b-4347-8664-7e753a7fc04e",
              "name": "Location",
              "value": "={{$node[\"HTTP Request\"].json.location}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "2298dcdb-bd50-4b58-b1a2-cbbaa02a1967",
      "name": "Enrich Data"
    },
    {
      "parameters": {
        "jsCode": "const start = $node[\"Start Time\"].json.start_time;\nconst end = Date.now();\nconst duration = end - start;\n\nreturn [\n  {\n    json: {\n      status: 200,\n      duration_ms: duration,\n      log: `API call to company lookup returned 200 in ${duration}ms`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4316df3c-321b-4a0f-9afd-c3d7b8a2d88f",
      "name": "Log "
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Time": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enrich Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Data": {
      "main": [
        [
          {
            "node": "Log ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log ": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "1phO1eWwAFJVLg5J",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "806c4cbe-c143-4c1d-86c5-38b282be7e4d",
  "meta": {
    "instanceId": "3d74db6d3ec7316d5f0a02431678248182a34037dabf7e42c350723b412d003e"
  },
  "nodeGroups": [],
  "id": "90MeTzWbgEqXryas",
  "tags": []
}